body{
    margin:0;
}
h1 {
font-size:60px;
text-align:center;
border-bottom:1px solid gray;
margin:0;
padding:20px;
}
#grid ol{
border-right:1px solid gray;
width:100px;
margin:0;
padding:20px;
padding-left:32px;
}
#grid{
display: grid;
grid-template-columns: 150px 1fr;
}
#article{
padding-left:25px;
}
@media(max-width:800px){
#grid{
    display:block;
}
#grid ol{
    border-right:none;
h1 {
    border-bottom:none;
}
}
}
@font-face {
    font-family: "DungGeunMo";
    src: url("DungGeunMo.ttf");
  }
body { font-family: "DungGeunMo", serif }
input { font-family: "DungGeunMo", serif }